*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html:focus-within {
  scroll-behavior: smooth;
}


body,
h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}


body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-family: inherit;
}


h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}


h1, h2,
h3, h4 {
  text-wrap: balance;
}


a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}


img, picture {
  max-width: 100%;
  display: block;
}


input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}


textarea:not([rows]) {
  min-height: 10em;
}


:target {
  scroll-margin-block: 5ex;
}


ul[role='list'],
ol[role='list'] {
  list-style: none;
}

:root {
    --clr-Green-400:hsl(172, 67%, 45%);
    --clr-Green-900: hsl(183, 100%, 15%);
    --clr-Grey-500: hsl(186, 14%, 43%);
    --clr-Grey-400: hsl(184, 14%, 56%);
    --clr-Grey-200: hsl(185, 41%, 84%);
    --clr-Grey-50: hsl(189, 47%, 97%);
    --clr-White: hsl(0, 100%, 100%);

    --fs:24px;
    --fw-700:700;

    --ff:"Space Mono", monospace;

}

body{
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw-700);

    color: var(--clr-Grey-500);
}

.wrapper{
    min-height: 100vh;
    min-width: 100vw;

    background-color: var(--clr-Grey-200);

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    gap: 2rem;


}

.wrapper .heading h1{
  letter-spacing: 1rem
}

.container {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  padding: 2rem;

  border-radius: 1rem;
  background-color: var(--clr-White);
}

.container > .bill_div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bill_div,
.output_div{
  width: 50%;
}

.container > .output_div {
  color: var(--clr-Grey-200);
  background-color: var(--clr-Green-900);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 2rem;
  border-radius: 1rem;

}

.output_value{
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.tip_amount_heading,
.total_person_heading{
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tip_amount_heading > p,
.total_person_heading > p{
  color: var(--clr-Grey-500);
}

output{
  font-size: 2.6rem;
  color: var(--clr-Green-400);
}

.tip_amount,
.total_person{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width:375px){

    
}
